.score-container {
  border-radius: 10px;
  width: 400px;
  height: 80vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trophy {
  width: 200px;
  height: 120px;
}

.score-title {
  color: #fff;
  font-size: 24px;
}

.score-value {
  color: #fff;
  font-size: 24px;
}

.play-again-button {
  border: none;
  background-color: #cf60c8;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.play-again-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  .score-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  }
}

@media screen and (min-width: 992px) {
  .score-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  }
}
